node_modules/
target/
build/
felix-cache/
.idea/
.gradle/
*.eml
*.iml
atlassian-ide-plugin.xml
.classpath
.project
.settings/
.metadata/
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
.DS_Store
/bin/
